body{
    background-color: rgb(222, 222, 233);
    margin: 0;
}

main{
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
}

header{
    background-color: #000321;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    width: 100%;
    margin-top: 0;
}

nav{
    background-color:rgb(34, 34, 53);
    width: 100%;
    justify-content: center;
    color: #ffffff;
    display: flex;
    gap: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

.quadradao{
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #9c9c9c
}

.ttlquadradao{
    justify-content: center;
    display: flex;
    background-color: rgba(186, 213, 224, 0.54);
    border-radius: 8px;
}

.quadradaop{
    justify-content: center;
    display: flex;
}

.caards{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    justify-self: center;
}

.cards{ 
    background-color: rgba(221, 230, 250, 0.37);
    border-radius: 10px;
    border: 1px solid #bebebe;
    display: flex;
    flex-direction: column;
    width: 220px;
}

.ttlcards{
    background-color: #3e5ae2;
    color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    justify-content: center;
    justify-self: center;
}

.cards p{
    margin-left: 5px;
}

footer{
    background-color: #000321;
    color: #ffffff;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 25px;
}